:host
    display: flex
    align-items: center
    justify-content: center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 9999
    background-color: rgba(255, 255, 255, .5)