<div class="nav-wrapper">
    <div class="container">
        <div class="nav-wrapper-inner">
            <div class="nav">
                <a mat-button [routerLink]="'dashboard'">Dashboard</a>
                <a mat-button [routerLink]="'employees'">Employees</a>
                <a mat-button [matMenuTriggerFor]="additionals">Additionals</a>
            
                <mat-menu #additionals="matMenu">
                    <a mat-menu-item [routerLink]="'offices'">Offices</a>
                    <a mat-menu-item [routerLink]="'tags'">Tags</a>
                </mat-menu>
            </div>
    
            <button mat-flat-button (click)="logoutButtonClick()">Logout</button>
        </div>
    </div>
</div>
