<div class="page-top">
    <h1 class="mt-20 mb-20">Employees List</h1>
    <button mat-flat-button color="success" [routerLink]="'/employee/add'">Add New</button>
</div>


<table *ngIf="employees.length > 0" mat-table [dataSource]="employees" class="table mat-elevation-z8">
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>

    <ng-container matColumnDef="birthDate">
        <th mat-header-cell *matHeaderCellDef> Birth Date </th>
        <td mat-cell *matCellDef="let element"> {{element.birthDate | date}} </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef> Phone Number </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="officePlace">
        <th mat-header-cell *matHeaderCellDef> Office </th>
        <td mat-cell *matCellDef="let element"> {{element.office[0]?.name}} </td>
    </ng-container>

    <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef> Operations </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="basic" [routerLink]="'/employee/edit/' + element._id">
                <mat-icon aria-hidden="false">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onRemoveButtonClick(element._id)">
                <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p *ngIf="employees.length == 0">There is no data</p>