.flex-row-between-center
  display: flex
  justify-content: space-between
  align-items: center

.flex-row-start-center
  display: flex
  justify-content: flex-start
  align-items: center

.flex-row-start-start
  display: flex
  justify-content: flex-start
  align-items: flex-start

.flex-row-end-center
  display: flex
  justify-content: flex-end
  align-items: center

.fg-1
  flex-grow: 1

.fs-0
  flex-shrink: 0

.fs-1
  flex-shrink: 1

.f-1-1
  flex: 1 1 auto

.d-inline-block
  display: inline-block

.ta-right
  text-align: right!important

.ta-center
  text-align: center!important

.justify-center
  justify-content: center