<div class="page-top">
    <h1 class="mt-20 mb-20">Adding New Tag</h1>
</div>

<form [formGroup]="formGroup">
    <div class="row mb-10">
        <div class="col-6">
            <mat-form-field class="w-full">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Riga">
                <mat-error *ngIf="formGroup.controls.name.hasError('required')">Name is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>

    <button mat-flat-button color="success" (click)="onSaveClick()">Save</button>
</form>