<div class="page-top">
    <h1 class="mt-20 mb-20">Adding New Employee</h1>
</div>

<form [formGroup]="formGroup">
    <div class="row mb-10">
        <div class="col-6">
            <mat-form-field class="w-full">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" [ngModel]="employee?.firstName" placeholder="Kamran">
                <mat-error *ngIf="formGroup.controls.firstName.hasError('required')">First name is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="w-full">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" [ngModel]="employee?.lastName" placeholder="Hasanov">
                <mat-error *ngIf="formGroup.controls.lastName.hasError('required')">Last name is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row mb-10">
        <div class="col-6">
            <mat-form-field class="w-full">
                <mat-label>Birth Date</mat-label>
                <input matInput formControlName="birthDate" [ngModel]="employee?.birthDate" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formGroup.controls.birthDate.hasError('required')">Birth date is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="w-full">
                <mat-label>Phone Number</mat-label>
                <span matPrefix>+ &nbsp;</span>
                <input type="number" matInput formControlName="phoneNumber" [ngModel]="employee?.phoneNumber" placeholder="3809534834">
                <mat-error *ngIf="formGroup.controls.phoneNumber.hasError('required')">Phone number is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <mat-form-field class="w-full">
                <mat-label>Office</mat-label>
                <mat-select formControlName="officePlace" [ngModel]="employee?.office_id">
                    <mat-option *ngFor="let office of offices" [value]="office._id">{{office.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="formGroup.controls.officePlace.hasError('required')">Office is <strong>required</strong></mat-error>
            </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="w-full">
                <mat-label>Tags</mat-label>
                <mat-select formControlName="tags" [ngModel]="employee?.tags" multiple>
                    <mat-option *ngFor="let tag of tags" [value]="tag._id">{{tag.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <button mat-flat-button color="success" (click)="onUpdateClick()">Update</button>
</form>