<div class="page-top">
    <h1 class="mt-20 mb-20">Tags List</h1>
    <button mat-flat-button color="success" [routerLink]="'/tag/add'">Add New</button>
</div>

<table *ngIf="tags.length > 0" mat-table [dataSource]="tags" class="table mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="operations">
        <th mat-header-cell *matHeaderCellDef> Operations </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="basic" [routerLink]="'/tag/edit/' + element._id">
                <mat-icon aria-hidden="false">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onRemoveButtonClick(element._id)">
                <mat-icon aria-hidden="false">delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p *ngIf="tags.length == 0">There is no data</p>